.mejs-container, .mejs-embed {
	background: #000;
    background: rgba(0,0,0,0.1);
}
.mejs-container .mejs-controls {
    background: no-repeat;
    bottom: 0
}
.mejs-controls .mejs-time-rail .mejs-time-total, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #CCC;
    background: rgba(0,0,0,0.6)
}.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background:   #CCC;
    background:   rgb(219, 219, 219)
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #FFF;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #5EC2A6
}
/*Video*/
.wp-video .mejs-container {
  width: 100% !important;
  height: auto !important;
  padding-top: 57%!important;
}
.wp-video .mejs-overlay, .wp-video .mejs-poster {
  width: 100% !important;
  height: 100% !important;
}
.wp-video .mejs-mediaelement video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0!important;
  width: 100% !important;
  height: 100% !important;
}

.mejs-audio,.wp-video {
    background: rgba(0,0,0,0.1) !important;
    margin: 0 auto !important;
}
.ie8 .me-plugin,.ie8 .mejs-mediaelement{
    position: absolute !important;
}